= link_to "Дисциплины", disciplines_path
= link_to "Компетенции", competences_path

%h2 Компетенции, формируемые дисциплинами
%table{border:1}
  %tr
    %th Дисциплина
    - @competences.each do |competence|
      %th= competence.name
  - @data.each do |discipline|
    %tr 
      %td 
        = discipline[:name]
      - @competences.each do |competence|
        %td
          - if discipline[:competences].include? competence.id
            Да
%br            
= link_to "Редактировать", root_path(edit: true)