= form_for @task do |f|
  - if @task.errors.any?
    #error_explanation
      %h2= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Уровень"
    = f.number_field :level, value: @task.level || 1
  .field
    = f.label "Порядковый номер"
    = f.number_field :order_num, value: @task.order_num || 1
  .field
    = f.label :xml
    = f.text_area :xml
  .field
    = f.label "Занятие"
    - lessonid = @task.lesson_id || (@lesson ? @lesson.id : nil)
    - logger.debug lessonid
    = select_tag 'task[lesson_id]', options_from_collection_for_select(Lesson.order(:id).all, "id", "caption", lessonid)

  .actions
    = f.submit 'Сохранить'
    
    