%h1 Listing tasks

%table
  %tr
    %th Lesson
    %th Level
    %th Xml
    %th
    %th
    %th

  - @tasks.each do |task|
    %tr
      %td= task.lesson
      %td= task.level
      %td= task.xml
      %td= link_to 'Show', task
      %td= link_to 'Edit', edit_task_path(task)
      %td= link_to 'Destroy', task, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Task', new_task_path
