%p#notice= notice

%p
  %b Lesson:
  = @task.lesson.caption
%p
  %b Level:
  = @task.level
%p
  %b Порядковый номер:
  = @task.order_num
%p
  %b Xml:
  = @task.xml

= link_to 'Edit', edit_task_path(@task)
\|
= link_to 'Back', tasks_path
