= form_for @discipline_result do |f|
  - if @discipline_result.errors.any?
    #error_explanation
      %h2= "#{pluralize(@discipline_result.errors.count, "error")} prohibited this discipline_result from being saved:"
      %ul
        - @discipline_result.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :discipline
    = select_tag 'discipline_result[discipline_id]', options_from_collection_for_select(Discipline.order(:id).all, "id", "name", @discipline_result.discipline_id)
  .field
    = f.label :student
    = select_tag 'discipline_result[student_id]', options_from_collection_for_select(Student.order(:name).all, "id", "name", @discipline_result.student_id)
  .field
    = f.label :grade
    = f.number_field :grade
  .actions
    = f.submit 'Save'
