= form_for @lesson do |f|
  - if @lesson.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lesson.errors.count, "error")} prohibited this lesson from being saved:"
      %ul
        - @lesson.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Дисциплина"
    = select_tag 'lesson[discipline_id]', options_from_collection_for_select(Discipline.order(:id).all, "id", "name", @lesson.discipline_id)
  .field
    = f.label "Тема"
    = select_tag 'lesson[topic_id]', options_from_collection_for_select(Topic.order(:id).all, "id", "name", @lesson.topic_id)
  .field
    = f.label "Название занятия"
    = f.text_field :caption
  .actions
    = f.submit 'Save'
