%h1 Listing lessons

%table
  %tr
    %th Topic
    %th Discipline
    %th Caption
    %th
    %th
    %th

  - @lessons.each do |lesson|
    %tr
      %td= lesson.topic_id
      %td= lesson.discipline_id
      %td= lesson.caption
      %td= link_to 'Show', lesson
      %td= link_to 'Edit', edit_lesson_path(lesson)
      %td= link_to 'Destroy', lesson, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Lesson', new_lesson_path
