%h1 Занятия

%table
  %tr
    %th Дисциплина
    %th Тема
    %th Название
    %th Занятия
    %th
    %th
    %th

  - @lessons.each do |lesson|
    %tr
      %td= lesson.discipline.name
      %td= lesson.topic.name
      %td= lesson.caption
      %td 
        = lesson.tasks.count 
        = link_to('Создать', "#{new_task_path}?lesson_id=#{lesson.id}")
      %td= link_to 'Show', lesson
      %td= link_to 'Edit', edit_lesson_path(lesson)
      %td= link_to 'Destroy', lesson, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Lesson', new_lesson_path
