%p#notice= notice

%p
  %b Topic:
  = @lesson.topic.name
%p
  %b Discipline:
  = @lesson.discipline.name
%p
  %b Caption:
  = @lesson.caption

= link_to 'Edit', edit_lesson_path(@lesson)
\|
= link_to 'Back', lessons_path

= link_to 'New Lesson', new_lesson_path