<!DOCTYPE html>
%html
  %head
    %title Compro
    = stylesheet_link_tag    "application", :media => "all" 
    = javascript_include_tag "application" 
    = csrf_meta_tags 
  
  %body
    = link_to "Дисциплины  |", disciplines_path
    = link_to "Компетенции  |", competences_path
    = link_to "Специальности  |", specialities_path
    = link_to "Компетенции дисциплин  |", disciplines_table_path
    = link_to "Компетенции специальностей  |", specialities_table_path
    = link_to "Подбор дисциплин  |", specialities_disciplines_selection_index_path
    = link_to "Студенты  |", students_path
    = link_to "Темы  |", topics_path
    = link_to "Занятия  |", lessons_path

    %br
    = link_to "Результаты  |", task_results_path
    = yield


